html
	head
		include ./parts/head.pug
	body
		//include ./parts/modal-windows.pug
		.wrapper
		hr
		.footer
			.wrapper.footer__container
				.footer-column.footer-column_catalog
					.footer__title Каталог
					ul
						li
							a(href="#") Кондиционеры
						li
							a(href="#") Вентиляция
						li
							a(href="#") Микроклимат
						li
							a(href="#") Отопление
						li
							a(href="#") Пылеотделение
						li
							a(href="#") Услуги
				.footer-column.footer-column_info
					.footer__title Информация
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Вопрос-ответ
						li
							a(href="#") Информация
						li
							a(href="#") Контакты
				.footer-column.footer-column_payment-adress.show-tablet
					.footer__title Оплата
					.footer__text Вы можете оплачивать заказы банковскими картами или наличными при получении.
					ul.footer__payment
						li
							a(href="#")
								img(src="images/visa.png")
						li
							a(href="#")
								img(src="images/mastercard.png")
						li
							a(href="#")
								img(src="images/mir.png")
					.footer__title Адрес
					.footer__text.footer__text_adress г. Санкт-Петербург, пр. Просвещения, д.85, лит.А, БЦ "Электромера", офис 228Б
				.footer-column.footer-column_phone.show-phablet
					.footer__title Телефоны
					.footer__text Бесплатный звонок по России
					.footer__number-box
						.footer__number
							span 8 800 
							span 775-90-60
						.footer__number
							span 8 800 
							span 643-66-60
					.footer__text Время работы:
					.footer__text  Пн-Пт с 10:00 до 18:00
					.footer__text  Сб-Вс - выходной copy
			.footer__container.hide-phablet
				.footer-column.footer-column_payment-adress
					.footer__title Адрес
					.footer__text.footer__text_adress г. Санкт-Петербург, пр. Просвещения, д.85, лит.А, БЦ "Электромера", офис 228Б
				.footer-column.footer-column_phone
					.footer__title Телефоны
					.footer__text Бесплатный звонок по России
					.footer__number-box
						.footer__number
							span 8 800 
							span 775-90-60
						.footer__number
							span 8 800 
							span 643-66-60
			hr
			.wrapper
				.footer-rights © 2017 ООО «Авто-Тим»
				.footer__design-autor
					span Дизайн сайта -
					a(href="#") Михаил Соловьев